:root {
  --blue-sky: #2196f3;
  --main-theme: #2f303a;
  --snow: #ffffff;
  --nearly-black: #212121;
  --gray: #757575;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
}

footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-theme);
}

h4 {
  margin: 0;
  margin-block-start: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

menu {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

label {
  display: flex;
  flex-direction: column;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-padding-top {
  padding-top: 0;
}

.section-heads {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--nearly-black);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

/*----------HEADER----------*/

.main-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-header--border {
  border-bottom: 1px solid;
  border-bottom-color: #ececec;
}

.main-header__container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.main-header-logo {
  display: flex;
  flex-basis: 145px;
  justify-content: flex-start;
  max-width: 145px;
  margin-right: 0px;
}

.main__logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}

.main-logo--color {
  color: var(--blue-sky);
}

.main-header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 46px;
  list-style-type: none;
  max-width: 245px;
  margin-left: 93px;
  margin-right: 371px;
  padding-left: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.main-header-nav__menu {
  color: #212121;
  display: flex;
  gap: 46px;
  position: relative;
}

.main-header-nav--fonts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--nearly-black);
}

.main-header--current {
  color: var(--blue-sky);
}

.main-header--current::after {
  position: absolute;
  display: inline-block;
  left: 0px;
  bottom: -33px;
  content: '';
  background-color: var(--blue-sky);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.main-header-nav__menu:focus,
.main-header-nav__menu:hover {
  color: var(--blue-sky);
  transition: color 250ms var(--cubic-bezier);
}

.main-header-contacts {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
  width: 100%;
}

.main-header-contacts__text {
  color: var(--gray);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  display: flex;
  align-items: center;
}

.main-header-contacts--icons {
  fill: currentColor;
  margin-right: 10px;
}

.main-header-contacts__text:hover,
.main-header-contacts__text:focus {
  color: var(--blue-sky);
  transition: color 250ms var(--cubic-bezier);
}

/*-- Main Page ----------*/

/*-- Section Main--*/

.section-main {
  background: var(--main-theme);
  background-color: rgba(47, 48, 58, 0.4);
  background-image: url(../images/sectionone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 35%;
  max-width: 1600px;
  height: 600px;
  padding: 200px 0px;
  margin: 0 auto;
}

.section-main__text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--snow);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-main__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--snow);
  background-color: var(--blue-sky);
  cursor: pointer;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  margin-inline: 500px;
}

/*-- Section About-*/

.section-about {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: 0px;
  padding-inline-start: 0px;
}

.about-item {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.about-item__head {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--nearly-black);
}
.about-item__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--nearly-black);
}

/*--Section Offer--*/

.offer {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 30px;
  padding-left: 0;
  position: relative;
}

.offer__list {
  position: relative;
}

.offer__list > p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--snow);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

/*--Section Team--*/

.team {
  background: #f5f4fa;
}

.team__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
}

.team-list--styles {
  background: var(--snow);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.team-figcaption {
  padding-bottom: 30px;
  align-items: center;
}

.team-figcaption__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--nearly-black);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-figcaption__job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--nearly-black);
  text-align: center;
  padding-bottom: 16px;
}

.team-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.team-contacts__box {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  color: var(--snow);
}

.team-contacts__box:last-child {
  margin-right: 0;
}

.team-contacts--link {
  fill: #afb1b8;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-contacts--link:hover,
.team-contacts--link:focus {
  background-color: var(--blue-sky);
  cursor: pointer;
  border-radius: 50%;
  fill: var(--snow);
  transition: background-color 250ms var(--cubic-bezier),
    fill 250ms var(--cubic-bezier);
}

/*--Section Clients--*/

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients__link {
  fill: #afb1b8;
  width: 170px;
  height: 92px;
  border: #afb1b8 solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--blue-sky);
  cursor: pointer;
  fill: var(--blue-sky);
  transition: fill 250ms var(--cubic-bezier), border 250ms var(--cubic-bezier);
}

/*---------- PORTFOLIO ----------*/

.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 8px;
  padding-left: 0px;
  margin-block-start: 0px;
  margin-block-end: 50px;
}
.portfolio__buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-style: none;
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
}

.portfolio__buttons:hover,
.portfolio__buttons:focus {
  color: var(--snow);
  background-color: var(--blue-sky);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: color 250ms var(--cubic-bezier),
    background-color 250ms var(--cubic-bezier),
    box-shadow 250ms var(--cubic-bezier);
}

.portfolio__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;
}
.portfolio__link {
  display: block;
}
.portfolio__list-style:hover,
.portfolio__list-style:focus {
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms var(--cubic-bezier);
}

.portfolio__pic-overlay {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.portfolio__pic-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blue-sky);
  opacity: 0.9;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic-bezier);
}

.portfolio__pic-text p {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--snow);
  padding-block: 49px;
  padding-inline: 24px 45px;
}

.portfolio__link:hover .portfolio__pic-text {
  transform: translateX(0);
}

.portfolio__figcaption {
  margin-top: 0px;
  padding-top: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio__head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  color: var(--nearly-black);
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio__headtext {
  font-size: 16px;
  line-height: 1.87;
  margin-top: 4px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  color: var(--gray);
}

/*---------- FOOTER ----------*/

.main-footer {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.footer-style {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  margin-bottom: 20px;
}

.main-logo--footer {
  color: var(--snow);
}

.footer-style__adress {
  color: var(--snow);
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer-style__adress-two {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
}

.footer-style__adress-two:hover,
.footer-style__adress-two:focus {
  color: var(--blue-sky);
  transition: color 250ms var(--cubic-bezier);
}

.joinus {
  margin-left: 70px;
}

.joinus__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--snow);
  text-transform: uppercase;
}

.joinus-box {
  width: 206px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19px;
}

.joinus__list {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #ffffff1a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.joinus__list--svg {
  fill: var(--snow);
}

.joinus__list:hover,
.joinus__list:focus {
  cursor: pointer;
  background-color: var(--blue-sky);
  transition: background-color 250ms var(--cubic-bezier);
}

.footer-label {
  width: 358px;
  margin-left: 78px;
}

.newsletter {
  display: flex;
  align-items: flex-end;
  margin-left: 76px;
}

.newsletter__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--snow);
  text-transform: uppercase;
}

.newsletter__input {
  box-sizing: border-box;
  margin-top: 20px;
  width: 358px;
  height: 50px;
  padding: 16px 0px 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--main-theme);
  color: rgba(255, 255, 255, 0.6);
}

.newsletter__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--snow);
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  border: none;
  background-color: var(--blue-sky);
  padding: 10px 28px 10px 42px;
  border-radius: 4px;
}

.newsletter__button--svg {
  vertical-align: middle;
  margin-left: 24px;
}

/*-- Backdrop --*/

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 598px;
  background-color: var(--snow);
  border-radius: 4px;
  box-shadow: 0px 2px 1px #00000033, 0px 1px 1px #00000024,
    0px 1px 3px #0000001f;
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--snow);
  border-radius: 50%;
  cursor: pointer;
}

.modal-form {
  padding: 40px;
}

.modal-form__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 1);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__label-styles {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form__input-styles {
  width: 448px;
  height: 40px;
  padding-block: 12px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  outline: transparent;
}

.modal-form--svg {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 12px;
}

.modal-form__label-styles:hover,
.modal-form__label-styles:focus-within,
.modal-form__input-styles:focus,
.modal-form__input-styles:hover {
  fill: var(--blue-sky);
  border-color: var(--blue-sky);
}

.modal-form__textarea {
  display: block;
  width: 448px;
  height: 138px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  outline: transparent;
}

.modal-form__textarea--placeholder::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:focus,
:hover {
  border-color: var(--blue-sky);
}

.modal-form__rodo {
  display: block;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--gray);
}

.rodo-accept {
  position: absolute;
  appearance: none;
}

.modal-form__rodo-styles {
  display: inline-block;
  border: 2px solid var(--nearly-black);
  border-radius: 2px;
  vertical-align: sub;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.modal-form__rodo-styles--icon {
  display: block;
  width: 16px;
  height: 15px;
  fill: var(--snow);
}

.modal-form__rodo--text {
  display: inline;
  margin-left: 8px;
}

.rodo-accept:checked + .modal-form__rodo-styles {
  border-color: var(--blue-sky);
  background-color: var(--blue-sky);
}

.modal-form__rodo--link {
  text-decoration: underline;
  color: var(--blue-sky);
}

.modal-form__button-send {
  display: block;
  width: 200px;
  height: 50px;
  margin-inline: auto;
  cursor: pointer;
  color: var(--snow);
  background-color: var(--blue-sky);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
