* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
}

footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-theme);
}

h4 {
  margin: 0;
  margin-block-start: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

menu {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

label {
  display: flex;
  flex-direction: column;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-padding-top {
  padding-top: 0;
}

.section-heads {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--nearly-black);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
