.modal {
  position: absolute;
  width: calc(100% - 30px);
  max-width: 450px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--snow);
  border-radius: 10px;
}
