.team {
  background: #f5f4fa;

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
  }

  &__list-styles {
    background: var(--snow);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.team-figcaption {
  padding-bottom: 30px;
  align-items: center;

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--nearly-black);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  &__job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--nearly-black);
    text-align: center;
    padding-bottom: 16px;
  }
}

.team-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;

  &__box {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    color: var(--snow);

    &:last-child {
      margin-right: 0;
    }
  }

  &--link {
    fill: #afb1b8;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    :focus {
      background-color: var(--blue-sky);
      cursor: pointer;
      border-radius: 50%;
      fill: var(--snow);
      transition: background-color 250ms var(--cubic-bezier),
        fill 250ms var(--cubic-bezier);
    }
  }
}
